<div id="<%= dom_id booking_trip_add_on %>">
  <p>
    <strong>Booking trip:</strong>
    <%= booking_trip_add_on.booking_trip_id %>
  </p>

  <p>
    <strong>Add on:</strong>
    <%= booking_trip_add_on.add_on_id %>
  </p>

</div>
