<h1>Editing booking trip</h1>

<%= render "form", booking_trip: @booking_trip %>

<br>

<div>
  <%= link_to "Show this booking trip", @booking_trip %> |
  <%= link_to "Back to booking trips", booking_trips_path %>
</div>
